#about {
  .image {
    display: flex;
    align-items: center;
    img {
      object-fit: contain;
      width: 100%;
    }
  }
  .facts {
    margin: 0 0 4em 0;
    div {
      font-size: 1.2em;
      span {
        display: block;
        font-size: 3em;
        color: #02E2A0;
      }
    }
  }
  .bio {
    font-size: 1.1em;
    padding: 0 3em;
    text-align: right;
    .text-quote {
      color: #02E2A0;
    }
  }
}