#contact {
  .container-fluid {
    padding: 100px 0;
  }
  .email-input {
    width: 80%;
    margin: 0 auto;
    input, textarea {
      border: none;
      border-bottom: 1px solid #02E2A0;
      text-align: center;
      margin: 2% auto;
      height: 60px;
      -webkit-animation: lowerHeightOut 0.8s forwards;
      animation: lowerHeightOut 0.8s forwards;
      &:focus {
        outline: none;
      }
      &:focus {
        -webkit-animation: lowerHeightIn 0.8s forwards;
        animation: lowerHeightIn 0.8s forwards;
      }
    }
  }
    button {
      @media screen and (min-width: 768px) {
        width: 15%;
      }
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #02E2A0;
      padding: 0.8em 1.2em;
      color: #02E2A0;
      margin: 20px auto;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:disabled {
        border-bottom: 1px solid $darkGrey;
        color: $darkGrey;
        cursor: not-allowed;
      }
      i {
        margin-left: 10px;
        color: #02E2A0;
      }
    }
  .alert-container {
    margin: 0 auto;
    p {
      border: none;
      color: $darkGrey;
      i {
        margin-right: 5px;
        color: #02E2A0;
      }
    }
  }
}
