/*Vars*/
$white: #fff;
$grey: #9c9b9b;
$darkGrey: #696969;
$purple: #440e62;
$green: #02E2A0;


/*Fonts*/
body {
  font-family: 'Muli', sans-serif, 'Avenir', sans-serif;
  font-size: 15px;
  color: $grey;
  font-weight: 400;
  hyphens: auto;
}

h2 {
  font-size: 3em;
  font-weight: 300;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.1em;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 7em;
    font-weight: 300;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.1em;
  }
}
/*Mixins*/



/*Keyframes*/

//fade in
@-webkit-keyframes fadeIn{
  from{
    opacity:0
  }to{
     opacity:1
   }
}
@keyframes fadeIn{
  from{
    opacity:0
  }to {
     opacity:1
   }
}

//slide
@-webkit-keyframes slide {
  100% { left: 0; }
}
@keyframes slide {
  100% { left: 200px; }
}
@keyframes slide {
  100% { left: 200px; }
}

//slide Logo
@keyframes slideLogo {
  100% { top: 28px; }
}

@-webkit-keyframes slideLogo {
  100% { top: 28px; }
}


//scale
@-webkit-keyframes scale {
  100% {
    height: 220px;
  }
}

@keyframes scale {
  100% {
    height: 220px;
  }

}

//pulse
@-webkit-keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(250, 250, 250, 0.7);
  }
  100% {
    box-shadow: 0 0 0 8px rgba(250, 250, 250, 0);
  }
}

//Lower Height
@keyframes lowerHeightIn {
  0% {
    height: 60px;
  }
  100% {
    height: 40px;
    border-width: 2px;
  }
}

@keyframes lowerHeightOut {
  0% {
    height: 40px;
  }
  100% {
    height: 60px;
    border-width: 1px;
  }
}