/* Overpass thin */

@font-face {
  font-family: "Overpass", sans-serif;
  src: url('/public/assets/fonts/overpass/Overpass-Thin.eot');
  src: url('/public/assets/fonts/overpass/Overpass-Thin.eot?#iefix') format('embedded-opentype'),
  url('/public/assets/fonts/overpass/Overpass-Thin.woff2') format('woff2'),
  url('/public/assets/fonts/overpass/Overpass-Thin.woff') format('woff'),
  url('/public/assets/fonts/overpass/Overpass-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Overpass thin-italic */

@font-face {
  font-family: "Overpass", sans-serif;
  src: url('/public/assets/fonts/overpass/Overpass-ThinItalic.eot');
  src: url('/public/assets/fonts/overpass/Overpass-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('/public/assets/fonts/overpass/Overpass-ThinItalic.woff2') format('woff2'),
  url('/public/assets/fonts/overpass/Overpass-ThinItalic.woff') format('woff'),
  url('/public/assets/fonts/overpass/Overpass-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* Overpass extraLight */

@font-face {
  font-family: "Overpass", sans-serif;
  src: url('/public/assets/fonts/overpass/Overpass-ExtraLight.eot');
  src: url('/public/assets/fonts/overpass/Overpass-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('/public/assets/fonts/overpass/Overpass-ExtraLight.woff2') format('woff2'),
  url('/public/assets/fonts/overpass/Overpass-ExtraLight.woff') format('woff'),
  url('/public/assets/fonts/overpass/Overpass-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Overpass extraLight-italic */

@font-face {
  font-family: "Overpass", sans-serif;
  src: url('/public/assets/fonts/overpass/Overpass-ExtraLightItalic.eot');
  src: url('/public/assets/fonts/overpass/Overpass-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('/public/assets/fonts/overpass/Overpass-ExtraLightItalic.woff2') format('woff2'),
  url('/public/assets/fonts/overpass/Overpass-ExtraLightItalic.woff') format('woff'),
  url('/public/assets/fonts/overpass/Overpass-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

/* Overpass light */

@font-face {
  font-family: "Overpass", sans-serif;
  src: url('/public/assets/fonts/overpass/Overpass-Light.eot');
  src: url('/public/assets/fonts/overpass/Overpass-Light.eot?#iefix') format('embedded-opentype'),
  url('/public/assets/fonts/overpass/Overpass-Light.woff2') format('woff2'),
  url('/public/assets/fonts/overpass/Overpass-Light.woff') format('woff'),
  url('/public/assets/fonts/overpass/Overpass-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Overpass light-italic */

@font-face {
  font-family: "Overpass", sans-serif;
  src: url('/public/assets/fonts/overpass/Overpass-LightItalic.eot');
  src: url('/public/assets/fonts/overpass/Overpass-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('/public/assets/fonts/overpass/Overpass-LightItalic.woff2') format('woff2'),
  url('/public/assets/fonts/overpass/Overpass-LightItalic.woff') format('woff'),
  url('/public/assets/fonts/overpass/Overpass-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Overpass regular */

@font-face {
  font-family: "Overpass", sans-serif;
  src: url('/public/assets/fonts/overpass/Overpass-Regular.eot');
  src: url('/public/assets/fonts/overpass/Overpass-Regular.eot?#iefix') format('embedded-opentype'),
  url('/public/assets/fonts/overpass/Overpass-Regular.woff2') format('woff2'),
  url('/public/assets/fonts/overpass/Overpass-Regular.woff') format('woff'),
  url('/public/assets/fonts/overpass/Overpass-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Overpass italic */

@font-face {
  font-family: "Overpass", sans-serif;
  src: url('/public/assets/fonts/overpass/Overpass-Italic.eot');
  src: url('/public/assets/fonts/overpass/Overpass-Italic.eot?#iefix') format('embedded-opentype'),
  url('/public/assets/fonts/overpass/Overpass-Italic.woff2') format('woff2'),
  url('/public/assets/fonts/overpass/Overpass-Italic.woff') format('woff'),
  url('/public/assets/fonts/overpass/Overpass-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Overpass semiBold */

@font-face {
  font-family: "Overpass", sans-serif;
  src: url('/public/assets/fonts/overpass/Overpass-SemiBold.eot');
  src: url('/public/assets/fonts/overpass/Overpass-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/public/assets/fonts/overpass/Overpass-SemiBold.woff2') format('woff2'),
  url('/public/assets/fonts/overpass/Overpass-SemiBold.woff') format('woff'),
  url('/public/assets/fonts/overpass/Overpass-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Overpass semiBold-Italic */

@font-face {
  font-family: "Overpass", sans-serif;
  src: url('/public/assets/fonts/overpass/Overpass-SemiBoldItalic.eot');
  src: url('/public/assets/fonts/overpass/Overpass-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/public/assets/fonts/overpass/Overpass-SemiBoldItalic.woff2') format('woff2'),
  url('/public/assets/fonts/overpass/Overpass-SemiBoldItalic.woff') format('woff'),
  url('/public/assets/fonts/overpass/Overpass-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* Overpass bold */

@font-face {
  font-family: "Overpass", sans-serif;
  src: url('/public/assets/fonts/overpass/Overpass-Bold.eot');
  src: url('/public/assets/fonts/overpass/Overpass-Bold.eot?#iefix') format('embedded-opentype'),
  url('/public/assets/fonts/overpass/Overpass-Bold.woff2') format('woff2'),
  url('/public/assets/fonts/overpass/Overpass-Bold.woff') format('woff'),
  url('/public/assets/fonts/overpass/Overpass-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Overpass bold-italic */

@font-face {
  font-family: "Overpass", sans-serif;
  src: url('/public/assets/fonts/overpass/Overpass-BoldItalic.eot');
  src: url('/public/assets/fonts/overpass/Overpass-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/public/assets/fonts/overpass/Overpass-BoldItalic.woff2') format('woff2'),
  url('/public/assets/fonts/overpass/Overpass-BoldItalic.woff') format('woff'),
  url('/public/assets/fonts/overpass/Overpass-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Overpass extraBold */

@font-face {
  font-family: "Overpass", sans-serif;
  src: url('/public/assets/fonts/overpass/Overpass-ExtraBold.eot');
  src: url('/public/assets/fonts/overpass/Overpass-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('/public/assets/fonts/overpass/Overpass-ExtraBold.woff2') format('woff2'),
  url('/public/assets/fonts/overpass/Overpass-ExtraBold.woff') format('woff'),
  url('/public/assets/fonts/overpass/Overpass-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Overpass extraBold-italic */

@font-face {
  font-family: "Overpass", sans-serif;
  src: url('/public/assets/fonts/overpass/Overpass-ExtraBoldItalic.eot');
  src: url('/public/assets/fonts/overpass/Overpass-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('/public/assets/fonts/overpass/Overpass-ExtraBoldItalic.woff2') format('woff2'),
  url('/public/assets/fonts/overpass/Overpass-ExtraBoldItalic.woff') format('woff'),
  url('/public/assets/fonts/overpass/Overpass-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Overpass black */

@font-face {
  font-family: "Overpass", sans-serif;
  src: url('/public/assets/fonts/overpass/Overpass-Black.eot');
  src: url('/public/assets/fonts/overpass/Overpass-Black.eot?#iefix') format('embedded-opentype'),
  url('/public/assets/fonts/overpass/Overpass-Black.woff2') format('woff2'),
  url('/public/assets/fonts/overpass/Overpass-Black.woff') format('woff'),
  url('/public/assets/fonts/overpass/Overpass-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Overpass black-italic */

@font-face {
  font-family: "Overpass", sans-serif;
  src: url('/public/assets/fonts/overpass/Overpass-Blackitalic.eot');
  src: url('/public/assets/fonts/overpass/Overpass-Blackitalic.eot?#iefix') format('embedded-opentype'),
  url('/public/assets/fonts/overpass/Overpass-Blackitalic.woff2') format('woff2'),
  url('/public/assets/fonts/overpass/Overpass-Blackitalic.woff') format('woff'),
  url('/public/assets/fonts/overpass/Overpass-Blackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}