footer {
  background-color: #02E2A0;
  overflow: hidden;
  ul {
    display: block;
    margin-bottom: 0;
    li {
      padding: 1em;
      display: inline-block;
      float: right;
      a {
        color: $white;
      }
    }
  }
}