html {
  height: 100%;
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    .mainApp {
      height: 100%;
      .hideme {
        opacity:1;
        @media screen and (min-width: 1200px) {
          opacity: 0;
        }
      }
      section {
        text-align: center;
      }
      .container-fluid {
        display: block;
        text-align: center;
        @media screen and (min-width: 768px) {
          padding: 4em 0em;
        }
      }
    }
    a, button {
      cursor: pointer;
      color: $green;
    }
    li {
      list-style: none;
    }
  }
}
