#impressum, #datenschutz {
  text-align: left;
  h2 {
    font-size: 1.2em;
    font-weight: 400;
    color: $green;
  }
  h3 {
    font-size: 1.1em;
    color: $green;
  }
  .backlink-nav {
    margin: 2em;
    .backlink {
      font-size: 1.3em;
      i {
        margin-right: 5px;
      }
    }
  }
  ul {
    padding-left: 0;
    margin: 1em 0;
    li {
      list-style: none;
      color: $grey;
    }
  }
}