#landing {
  width: 100%;
  height: 90vh;
  background: url(https://www.wwweb-media.de/assets/images/3mockup.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .container-fluid {
    padding: 0;
  }
  h1 {
    text-align: left;
    padding: 0.8em 1em;
    img {
      width: 130px;
      @media screen and (min-width: 768px) {
        width: 150px;
      }
      position: absolute;
      top: -500px;
      -webkit-animation: slideLogo 0.5s forwards;
      -webkit-animation-delay: 1.3s;
      animation: slideLogo 0.5s forwards;
      animation-delay: 1.3s;
    }
  }
  .headline-container {
    padding: 24vh 0 18vh 0;
    //@media screen and (min-width: 360px) {
    //  padding: 10em 0 8em 0;
    //}
    @media screen and (min-width: 768px) {
      padding: 25vh 0 18vh 0;
      position: inherit;
      top: 50px;
      left: -500px;
      -webkit-animation: slide 0.5s forwards;
      -webkit-animation-delay: 0.2s;
      animation: slide 0.5s forwards;
      animation-delay: 0.2s;
    }
    .vertical-line {
      display: none;
      @media screen and (min-width: 1024px) {
        display: inline-block;
      }
      border-left: 6px solid $white;
      height: 0;
      margin-right: 20px;
      -webkit-animation: scale 0.8s forwards;
      -webkit-animation-delay: 0.8s;
      animation: scale 0.8s forwards;
      animation-delay: 0.8s;
    }
    .headlines {
      @media screen and (min-width: 768px) {
        width: 90%;
      }
      display: inline-block;
      h2 {
        color: $white;
        font-weight: 500;
        text-align: center;
        @media screen and (min-width: 768px) {
          text-align: left;
          font-weight: 900;
        }
      }
    }
  }
  .button-container {
      margin: 0 auto;
      width: 60%;
    @media screen and (min-width: 768px) {
      width:200px;
      position: absolute;
      bottom: 50px;
      left:53%;
      margin: 1em auto;
      margin-left:-150px;
    }
    background-color: #02E2A0;
    border: none;
    padding: 0.8em 1.2em;
    -webkit-animation: shadow-pulse 1.5s infinite;
    animation: shadow-pulse 2s infinite;
    &:hover {
      animation: none;
      -webkit-animation: none;
    }
    a {
      color: $white;
      display: block;
      text-align: center;
      font-weight: 900;
      text-decoration: underline;
      -webkit-animation: none;
      animation: none;
    }
  }
}