.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $purple;
  height: 56px;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
  .toolbar__logo {
    a {
      color: black;
      text-decoration: none;
      font-size: 1.5rem;
    }
  }

  .spacer {
    flex: 1;
  }

  .toolbar_navigation-items {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      li {
        padding: 0 0.5rem;
        a {
          text-decoration: none;
          &:hover, &:active {
            color: $green;
          }
        }

      }
    }
  }
}

