#service {
  .container-fluid {
    //padding: 4em 18em 0em 18em;
    @media screen and (min-width: 768px) {
      padding: 10px 15px;
    }
    @media screen and (min-width: 1450px) {
      padding: 10px 12%;
    }
    @media screen and (min-width: 1935px) {
      padding: 10px 27%;
    }

    .service-card {
      display: inline-block;
      width: 90%;
      min-height: 415px;
      @media screen and (min-width: 768px) {
        width: 42%;
      }
      @media screen and (min-width: 768px) {
        width: 33%;
      }
      @media screen and (min-width: 900px) {
        width: 30%;
        min-height: 380px;
      }
      @media screen and (min-width: 1130px) {
        width: 25%;
      }
      @media screen and (min-width: 1300px) {
        width: 300px;
      }
      margin-bottom: 3em;
      animation: fadeIn 500ms ease-in-out 0.05s both;

      li {
        list-style: none;
        min-height: 24px;
      }
    }
  }
}
.load-more {
  background-color: #02E2A0;
  box-shadow: none;
  color: $white;
  padding: 0.8em 1.2em;
  margin-bottom: 1em;
  width: 200px;

  &:hover {
    color: #02E2A0;
    background-color: black;
  }
  &:focus {
    outline: none;
  }
}