#skills {
  .card {
    display: inline-block;
    margin: 1em 0;
    @media screen and (min-width: 768px) {
      margin: 1em;
    }
    padding: 1em;
    border-radius: 0;
    .card-img-top {
      width: 20%;
    }
    .card-body {
      .card-title {
        text-decoration: underline;
        color: $darkGrey;
      }
      .btn {
        background-color: #02E2A0;
        border: none;
        color: $white;
        text-decoration: none;
      }
    }
  }
}
