.parallax {
  height: 20vh;
  margin: 4em 0 0 0;
  background-image: url(https://www.wwweb-media.de/assets/images/3mockup.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}