.service-card {
    margin: 1em;
    min-height: 400px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: relative;
}

.service-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.service-card-body {
    padding: 0;
}
.service-card-title {
    padding: 0.5em;
    color: #fff;
    border-radius: 0;
}
.service-card:first-child .service-card-title {
    background-color: #9da8ec;
}
.service-card:first-child .btn {
    background-color: #9da8ec;
    border: #9da8ec;
}
.service-card:nth-child(2) .service-card-title {
    background-color: #72afd3;
}
.service-card:nth-child(2) .btn {
    background-color: #72afd3;
    border: #72afd3;
}
.service-card:nth-child(3) .service-card-title {
    background-color: #f29f8c;
}
.service-card:nth-child(3) .btn {
    background-color: #f29f8c;
    border: #f29f8c;
}
.service-card:nth-child(4) .service-card-title {
    background-color: #9da8ec;
}
.service-card:nth-child(4) .btn {
    background-color: #9da8ec;
    border: #9da8ec;
}
.service-card:nth-child(5) .service-card-title {
    background-color: #72afd3;
}
.service-card:nth-child(5) .btn {
    background-color: #72afd3;
    border: #72afd3;
}
.service-card:nth-child(6) .service-card-title {
    background-color: #f29f8c;
}
.service-card:nth-child(6) .btn {
    background-color: #f29f8c;
    border: #f29f8c;
}
.service-card:nth-child(7) .service-card-title {
    background-color: #9da8ec;
}
.service-card:nth-child(7) .btn {
    background-color: #9da8ec;
    border: #9da8ec;
}
.service-card:nth-child(8) .service-card-title {
    background-color: #72afd3;
}
.service-card:nth-child(8) .btn {
    background-color: #72afd3;
    border: #72afd3;
}
.service-card:nth-child(9) .service-card-title {
    background-color: #f29f8c;
}
.service-card:nth-child(9) .btn {
    background-color: #f29f8c;
    border: #f29f8c;
}
.service-card-title, .btn {
    display: flex;
    justify-content: center;
}
.service-card-content {
    text-align: center;
    padding: 0em 2em;
}
.service-card-content h5 {
    font-weight: 600;
    color: #696969;
}
.service-card-content ul {
    padding: 0.5em;
}
.service-card-content .service-card-text li {
    list-style: none;
}
.service-card-content .service-content {
    min-height: 142px;
}
.seperator-container {
    display: inline-block;
    width: 50%;
    height: 1px;
    background-color: #9c9b9b;
    margin: 16px;
}
.card-price {
    margin: 20px 0;
    font-size: 1.4rem;
    color: black;
}
.service-btn {
    text-decoration: underline;
    width: 100%;
    border-radius: 0;
    position: absolute;
    bottom: 0;
}
