/* Overpass thin */
@font-face {
  font-family: "Overpass", sans-serif;
  src: url("/public/assets/fonts/overpass/Overpass-Thin.eot");
  src: url("/public/assets/fonts/overpass/Overpass-Thin.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/overpass/Overpass-Thin.woff2") format("woff2"), url("/public/assets/fonts/overpass/Overpass-Thin.woff") format("woff"), url("/public/assets/fonts/overpass/Overpass-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

/* Overpass thin-italic */
@font-face {
  font-family: "Overpass", sans-serif;
  src: url("/public/assets/fonts/overpass/Overpass-ThinItalic.eot");
  src: url("/public/assets/fonts/overpass/Overpass-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/overpass/Overpass-ThinItalic.woff2") format("woff2"), url("/public/assets/fonts/overpass/Overpass-ThinItalic.woff") format("woff"), url("/public/assets/fonts/overpass/Overpass-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

/* Overpass extraLight */
@font-face {
  font-family: "Overpass", sans-serif;
  src: url("/public/assets/fonts/overpass/Overpass-ExtraLight.eot");
  src: url("/public/assets/fonts/overpass/Overpass-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/overpass/Overpass-ExtraLight.woff2") format("woff2"), url("/public/assets/fonts/overpass/Overpass-ExtraLight.woff") format("woff"), url("/public/assets/fonts/overpass/Overpass-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

/* Overpass extraLight-italic */
@font-face {
  font-family: "Overpass", sans-serif;
  src: url("/public/assets/fonts/overpass/Overpass-ExtraLightItalic.eot");
  src: url("/public/assets/fonts/overpass/Overpass-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/overpass/Overpass-ExtraLightItalic.woff2") format("woff2"), url("/public/assets/fonts/overpass/Overpass-ExtraLightItalic.woff") format("woff"), url("/public/assets/fonts/overpass/Overpass-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

/* Overpass light */
@font-face {
  font-family: "Overpass", sans-serif;
  src: url("/public/assets/fonts/overpass/Overpass-Light.eot");
  src: url("/public/assets/fonts/overpass/Overpass-Light.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/overpass/Overpass-Light.woff2") format("woff2"), url("/public/assets/fonts/overpass/Overpass-Light.woff") format("woff"), url("/public/assets/fonts/overpass/Overpass-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

/* Overpass light-italic */
@font-face {
  font-family: "Overpass", sans-serif;
  src: url("/public/assets/fonts/overpass/Overpass-LightItalic.eot");
  src: url("/public/assets/fonts/overpass/Overpass-LightItalic.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/overpass/Overpass-LightItalic.woff2") format("woff2"), url("/public/assets/fonts/overpass/Overpass-LightItalic.woff") format("woff"), url("/public/assets/fonts/overpass/Overpass-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

/* Overpass regular */
@font-face {
  font-family: "Overpass", sans-serif;
  src: url("/public/assets/fonts/overpass/Overpass-Regular.eot");
  src: url("/public/assets/fonts/overpass/Overpass-Regular.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/overpass/Overpass-Regular.woff2") format("woff2"), url("/public/assets/fonts/overpass/Overpass-Regular.woff") format("woff"), url("/public/assets/fonts/overpass/Overpass-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

/* Overpass italic */
@font-face {
  font-family: "Overpass", sans-serif;
  src: url("/public/assets/fonts/overpass/Overpass-Italic.eot");
  src: url("/public/assets/fonts/overpass/Overpass-Italic.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/overpass/Overpass-Italic.woff2") format("woff2"), url("/public/assets/fonts/overpass/Overpass-Italic.woff") format("woff"), url("/public/assets/fonts/overpass/Overpass-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

/* Overpass semiBold */
@font-face {
  font-family: "Overpass", sans-serif;
  src: url("/public/assets/fonts/overpass/Overpass-SemiBold.eot");
  src: url("/public/assets/fonts/overpass/Overpass-SemiBold.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/overpass/Overpass-SemiBold.woff2") format("woff2"), url("/public/assets/fonts/overpass/Overpass-SemiBold.woff") format("woff"), url("/public/assets/fonts/overpass/Overpass-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

/* Overpass semiBold-Italic */
@font-face {
  font-family: "Overpass", sans-serif;
  src: url("/public/assets/fonts/overpass/Overpass-SemiBoldItalic.eot");
  src: url("/public/assets/fonts/overpass/Overpass-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/overpass/Overpass-SemiBoldItalic.woff2") format("woff2"), url("/public/assets/fonts/overpass/Overpass-SemiBoldItalic.woff") format("woff"), url("/public/assets/fonts/overpass/Overpass-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

/* Overpass bold */
@font-face {
  font-family: "Overpass", sans-serif;
  src: url("/public/assets/fonts/overpass/Overpass-Bold.eot");
  src: url("/public/assets/fonts/overpass/Overpass-Bold.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/overpass/Overpass-Bold.woff2") format("woff2"), url("/public/assets/fonts/overpass/Overpass-Bold.woff") format("woff"), url("/public/assets/fonts/overpass/Overpass-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

/* Overpass bold-italic */
@font-face {
  font-family: "Overpass", sans-serif;
  src: url("/public/assets/fonts/overpass/Overpass-BoldItalic.eot");
  src: url("/public/assets/fonts/overpass/Overpass-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/overpass/Overpass-BoldItalic.woff2") format("woff2"), url("/public/assets/fonts/overpass/Overpass-BoldItalic.woff") format("woff"), url("/public/assets/fonts/overpass/Overpass-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

/* Overpass extraBold */
@font-face {
  font-family: "Overpass", sans-serif;
  src: url("/public/assets/fonts/overpass/Overpass-ExtraBold.eot");
  src: url("/public/assets/fonts/overpass/Overpass-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/overpass/Overpass-ExtraBold.woff2") format("woff2"), url("/public/assets/fonts/overpass/Overpass-ExtraBold.woff") format("woff"), url("/public/assets/fonts/overpass/Overpass-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

/* Overpass extraBold-italic */
@font-face {
  font-family: "Overpass", sans-serif;
  src: url("/public/assets/fonts/overpass/Overpass-ExtraBoldItalic.eot");
  src: url("/public/assets/fonts/overpass/Overpass-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/overpass/Overpass-ExtraBoldItalic.woff2") format("woff2"), url("/public/assets/fonts/overpass/Overpass-ExtraBoldItalic.woff") format("woff"), url("/public/assets/fonts/overpass/Overpass-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

/* Overpass black */
@font-face {
  font-family: "Overpass", sans-serif;
  src: url("/public/assets/fonts/overpass/Overpass-Black.eot");
  src: url("/public/assets/fonts/overpass/Overpass-Black.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/overpass/Overpass-Black.woff2") format("woff2"), url("/public/assets/fonts/overpass/Overpass-Black.woff") format("woff"), url("/public/assets/fonts/overpass/Overpass-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

/* Overpass black-italic */
@font-face {
  font-family: "Overpass", sans-serif;
  src: url("/public/assets/fonts/overpass/Overpass-Blackitalic.eot");
  src: url("/public/assets/fonts/overpass/Overpass-Blackitalic.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/overpass/Overpass-Blackitalic.woff2") format("woff2"), url("/public/assets/fonts/overpass/Overpass-Blackitalic.woff") format("woff"), url("/public/assets/fonts/overpass/Overpass-Blackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

/*Vars*/
/*Fonts*/
body {
  font-family: 'Muli', sans-serif, 'Avenir', sans-serif;
  font-size: 15px;
  color: #9c9b9b;
  font-weight: 400;
  hyphens: auto; }

h2 {
  font-size: 3em;
  font-weight: 300; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1.1em; }

@media screen and (min-width: 768px) {
  h2 {
    font-size: 7em;
    font-weight: 300; }
  h3 {
    font-size: 2em; }
  h4 {
    font-size: 1.2em; }
  h5 {
    font-size: 1.1em; } }

/*Mixins*/
/*Keyframes*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes slide {
  100% {
    left: 0; } }

@keyframes slide {
  100% {
    left: 200px; } }

@keyframes slide {
  100% {
    left: 200px; } }

@keyframes slideLogo {
  100% {
    top: 28px; } }

@-webkit-keyframes slideLogo {
  100% {
    top: 28px; } }

@-webkit-keyframes scale {
  100% {
    height: 220px; } }

@keyframes scale {
  100% {
    height: 220px; } }

@-webkit-keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2); }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0); } }

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(250, 250, 250, 0.7); }
  100% {
    box-shadow: 0 0 0 8px rgba(250, 250, 250, 0); } }

@keyframes lowerHeightIn {
  0% {
    height: 60px; }
  100% {
    height: 40px;
    border-width: 2px; } }

@keyframes lowerHeightOut {
  0% {
    height: 40px; }
  100% {
    height: 60px;
    border-width: 1px; } }

html {
  height: 100%; }
  html body {
    margin: 0;
    padding: 0;
    height: 100%; }
    html body .mainApp {
      height: 100%; }
      html body .mainApp .hideme {
        opacity: 1; }
        @media screen and (min-width: 1200px) {
          html body .mainApp .hideme {
            opacity: 0; } }
      html body .mainApp section {
        text-align: center; }
      html body .mainApp .container-fluid {
        display: block;
        text-align: center; }
        @media screen and (min-width: 768px) {
          html body .mainApp .container-fluid {
            padding: 4em 0em; } }
    html body a, html body button {
      cursor: pointer;
      color: #02E2A0; }
    html body li {
      list-style: none; }

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #440e62;
  height: 56px; }

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem; }
  .toolbar__navigation .toolbar__logo a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem; }
  .toolbar__navigation .spacer {
    flex: 1; }
  .toolbar__navigation .toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; }
    .toolbar__navigation .toolbar_navigation-items ul li {
      padding: 0 0.5rem; }
      .toolbar__navigation .toolbar_navigation-items ul li a {
        text-decoration: none; }
        .toolbar__navigation .toolbar_navigation-items ul li a:hover, .toolbar__navigation .toolbar_navigation-items ul li a:active {
          color: #02E2A0; }

#landing {
  width: 100%;
  height: 90vh;
  background: url(https://138.68.105.185/assets/images/3mockup.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  #landing .container-fluid {
    padding: 0; }
  #landing h1 {
    text-align: left;
    padding: 0.8em 1em; }
    #landing h1 img {
      width: 130px;
      position: absolute;
      top: -500px;
      -webkit-animation: slideLogo 0.5s forwards;
      -webkit-animation-delay: 1.3s;
      animation: slideLogo 0.5s forwards;
      animation-delay: 1.3s; }
      @media screen and (min-width: 768px) {
        #landing h1 img {
          width: 150px; } }
  #landing .headline-container {
    padding: 24vh 0 18vh 0; }
    @media screen and (min-width: 768px) {
      #landing .headline-container {
        padding: 25vh 0 18vh 0;
        position: inherit;
        top: 50px;
        left: -500px;
        -webkit-animation: slide 0.5s forwards;
        -webkit-animation-delay: 0.2s;
        animation: slide 0.5s forwards;
        animation-delay: 0.2s; } }
    #landing .headline-container .vertical-line {
      display: none;
      border-left: 6px solid #fff;
      height: 0;
      margin-right: 20px;
      -webkit-animation: scale 0.8s forwards;
      -webkit-animation-delay: 0.8s;
      animation: scale 0.8s forwards;
      animation-delay: 0.8s; }
      @media screen and (min-width: 1024px) {
        #landing .headline-container .vertical-line {
          display: inline-block; } }
    #landing .headline-container .headlines {
      display: inline-block; }
      @media screen and (min-width: 768px) {
        #landing .headline-container .headlines {
          width: 90%; } }
      #landing .headline-container .headlines h2 {
        color: #fff;
        font-weight: 500;
        text-align: center; }
        @media screen and (min-width: 768px) {
          #landing .headline-container .headlines h2 {
            text-align: left;
            font-weight: 900; } }
  #landing .button-container {
    margin: 0 auto;
    width: 60%;
    background-color: #02E2A0;
    border: none;
    padding: 0.8em 1.2em;
    -webkit-animation: shadow-pulse 1.5s infinite;
    animation: shadow-pulse 2s infinite; }
    @media screen and (min-width: 768px) {
      #landing .button-container {
        width: 200px;
        position: absolute;
        bottom: 50px;
        left: 53%;
        margin: 1em auto;
        margin-left: -150px; } }
    #landing .button-container:hover {
      animation: none;
      -webkit-animation: none; }
    #landing .button-container a {
      color: #fff;
      display: block;
      text-align: center;
      font-weight: 900;
      text-decoration: underline;
      -webkit-animation: none;
      animation: none; }

@media screen and (min-width: 768px) {
  #service .container-fluid {
    padding: 10px 15px; } }

@media screen and (min-width: 1450px) {
  #service .container-fluid {
    padding: 10px 12%; } }

@media screen and (min-width: 1935px) {
  #service .container-fluid {
    padding: 10px 27%; } }

#service .container-fluid .service-card {
  display: inline-block;
  width: 90%;
  min-height: 415px;
  margin-bottom: 3em;
  animation: fadeIn 500ms ease-in-out 0.05s both; }
  @media screen and (min-width: 768px) {
    #service .container-fluid .service-card {
      width: 42%; } }
  @media screen and (min-width: 768px) {
    #service .container-fluid .service-card {
      width: 33%; } }
  @media screen and (min-width: 900px) {
    #service .container-fluid .service-card {
      width: 30%;
      min-height: 380px; } }
  @media screen and (min-width: 1130px) {
    #service .container-fluid .service-card {
      width: 25%; } }
  @media screen and (min-width: 1300px) {
    #service .container-fluid .service-card {
      width: 300px; } }
  #service .container-fluid .service-card li {
    list-style: none;
    min-height: 24px; }

.load-more {
  background-color: #02E2A0;
  box-shadow: none;
  color: #fff;
  padding: 0.8em 1.2em;
  margin-bottom: 1em;
  width: 200px; }
  .load-more:hover {
    color: #02E2A0;
    background-color: black; }
  .load-more:focus {
    outline: none; }

.parallax {
  height: 20vh;
  margin: 4em 0 0 0;
  background-image: url(https://138.68.105.185//assets/images/3mockup.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#reference {
  background-color: #e8e8e8; }
  #reference .img-container img {
    width: 100%; }

#skills .card {
  display: inline-block;
  margin: 1em 0;
  padding: 1em;
  border-radius: 0; }
  @media screen and (min-width: 768px) {
    #skills .card {
      margin: 1em; } }
  #skills .card .card-img-top {
    width: 20%; }
  #skills .card .card-body .card-title {
    text-decoration: underline;
    color: #696969; }
  #skills .card .card-body .btn {
    background-color: #02E2A0;
    border: none;
    color: #fff;
    text-decoration: none; }

#about .image {
  display: flex;
  align-items: center; }
  #about .image img {
    object-fit: contain;
    width: 100%; }

#about .facts {
  margin: 0 0 4em 0; }
  #about .facts div {
    font-size: 1.2em; }
    #about .facts div span {
      display: block;
      font-size: 3em;
      color: #02E2A0; }

#about .bio {
  font-size: 1.1em;
  padding: 0 3em;
  text-align: right; }
  #about .bio .text-quote {
    color: #02E2A0; }

#contact .container-fluid {
  padding: 100px 0; }

#contact .email-input {
  width: 80%;
  margin: 0 auto; }
  #contact .email-input input, #contact .email-input textarea {
    border: none;
    border-bottom: 1px solid #02E2A0;
    text-align: center;
    margin: 2% auto;
    height: 60px;
    -webkit-animation: lowerHeightOut 0.8s forwards;
    animation: lowerHeightOut 0.8s forwards; }
    #contact .email-input input:focus, #contact .email-input textarea:focus {
      outline: none; }
    #contact .email-input input:focus, #contact .email-input textarea:focus {
      -webkit-animation: lowerHeightIn 0.8s forwards;
      animation: lowerHeightIn 0.8s forwards; }

#contact button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #02E2A0;
  padding: 0.8em 1.2em;
  color: #02E2A0;
  margin: 20px auto;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    #contact button {
      width: 15%; } }
  #contact button:focus {
    outline: none; }
  #contact button:disabled {
    border-bottom: 1px solid #696969;
    color: #696969;
    cursor: not-allowed; }
  #contact button i {
    margin-left: 10px;
    color: #02E2A0; }

#contact .alert-container {
  margin: 0 auto; }
  #contact .alert-container p {
    border: none;
    color: #696969; }
    #contact .alert-container p i {
      margin-right: 5px;
      color: #02E2A0; }

#impressum, #datenschutz {
  text-align: left; }
  #impressum h2, #datenschutz h2 {
    font-size: 1.2em;
    font-weight: 400;
    color: #02E2A0; }
  #impressum h3, #datenschutz h3 {
    font-size: 1.1em;
    color: #02E2A0; }
  #impressum .backlink-nav, #datenschutz .backlink-nav {
    margin: 2em; }
    #impressum .backlink-nav .backlink, #datenschutz .backlink-nav .backlink {
      font-size: 1.3em; }
      #impressum .backlink-nav .backlink i, #datenschutz .backlink-nav .backlink i {
        margin-right: 5px; }
  #impressum ul, #datenschutz ul {
    padding-left: 0;
    margin: 1em 0; }
    #impressum ul li, #datenschutz ul li {
      list-style: none;
      color: #9c9b9b; }

#datenschutz h3 {
  margin-top: 2em; }

footer {
  background-color: #02E2A0;
  overflow: hidden; }
  footer ul {
    display: block;
    margin-bottom: 0; }
    footer ul li {
      padding: 1em;
      display: inline-block;
      float: right; }
      footer ul li a {
        color: #fff; }
