.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin: 0 20px;
    z-index: 999;
    position: fixed;
    top: 28px;
    right: 25px;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 30px;
    height: 4px;
    background: #02E2A0;
    border-radius: 24px;
    transition: 0.3s;
    z-index: 100;

}

.one {
    width: 30px;
}

.two {
    width: 20px;
}

.three {
    width: 30px;
}

.toggle-button:hover div,
.toggle-button.open div{
    width: 30px;
}