.side-drawer {
    height: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    z-index: 10;
    transform: translateX(100%);
    transition: transform .4s ease;
}

.side-drawer.open {
    transform: translateX(-12%);
}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer li {
    margin: 0.5rem 0;
    text-align: right;
}

.side-drawer a {
    color: transparent;
    text-decoration: none;
    font-size: 2rem;
}

.side-drawer i {
    margin-left: 2rem;
    color: #02E2A0;
    width: 45px;
    text-align: center;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: #02E2A0;
}